body{
    text-align: center;
    width:40%;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
button:focus {outline:0;}

table{
    width: 100%;
    height: 90%;
    border-spacing: 0;
    margin-top: 30px;
}


.cell{
    background-color: greenyellow;
    width: 35px;
    height: 35px;
    max-width: 15px;
    max-height: 15px;
    margin: 0;
    padding: 0;

  
}
.darker{
    background-color: rgb(159, 236, 43);
}

.status {
   font-size: 14px;
    display: inline;
    padding: 15px;
}

.medium, .expert, .beginner{
    width: 80px;
}

.gameScore{
    display: flex;
    justify-content: space-evenly;
}

.level{
    border: none;
    border-radius: 2px;
    height: 30px;
    background-color: white;
}

.safeClass{
    background-color: red;
}

.hintButton{
    height: 55px;
    width: 55px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: greenyellow;
    border: none;
    text-align: center;
    border-radius: 50%;
    float: right;
}

.undoButton{
    background-color: rgb(255, 115, 0);
}

.manuallyButton{
    height: 55px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: greenyellow;
    border: none;
    text-align: center;
    border-radius: 50%;
    float: left;
}

.safeButton{
   width: 110px;
   margin-top: 10px;

}

.safe{
    height: 40px;
}
.safeAviable{
    margin: 0;
    padding: 0;
    top: 0;
}

.score{
    margin: 20px;
    display: inline;
}

 .isWin {
  background: transparent;
  text-align: center;
  font-size: 40px;
  border: none;
}

table .revel{
    background-color: burlywood;
}

table .darkeRevel{
    background-color: rgb(184, 153, 114)
}
  

.gameConteiner{
    box-sizing: border-box; 
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    background-color: rgb(113, 168, 31);
    margin-top: 50px;
}

.gameStatus{
    width: 100%;
    margin-top: 20px;
}

